.img-sm{
    width: 50px;
    height: 50px; 
}

.icon-sm{
    font-size:50px;
}

.img-profile{
    width:100px;
    height: 100px;
}

.icon-profile{
    font-size:80px;
}

.img-nav{
    width:30px;
    height: 30px;
}

.icon-nav{
    font-size:20px;
}

.text-color:hover{
    background-color: rgb(180, 180, 232);
    color: white;
}